{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="/css/admin/dashboard.css">
{% endblock %}

{% block content %}
  <div class="admin-container">
    <div class="content-container">
      <h1 class="home">Tableau de bord</h1>
      <div class="d-flex cards-container flex-wrap justify-content-center">
        <div class="card">
          <h5 class="card-header">Pokedex</h5>
          <div class="card-body d-flex flex-column align-items-center text-white">
            <span>(Nb Pokemon)</span>
            <div>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Pokémon Shiny</h5>
          <div class="card-body d-flex flex-column align-items-center text-white">
            <span>(Nb Shiny)</span>
            <div>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Dresseurs</h5>
          <div class="card-body d-flex flex-column align-items-center text-white">
            <span>(Nb Dresseurs)</span>
            <div>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Régions</h5>
          <div class="card-body d-flex flex-column align-items-center text-white">
            <span>(Nb Régions)</span>
            <div>
              <p>0</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Attaques</h5>
          <div class="card-body d-flex flex-column align-items-center text-white">
            <span>(Nb Attaques)</span>
            <div>
              <p>0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
