<link rel="stylesheet" href="/css/app/footer.css">

<footer class="footer">
  <p>
    <i class="fa-solid fa-copyright"></i>
    <span>Pokemon Manager</span> | <span>Tous droits réservés</span> |
    <span>Cédric Chimot - 2025</span>
  </p>
</footer>
