.btn-shiny-favoris {
  background-color: #0620fb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-strats {
  background-color: #87ceeb;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-strats2 {
  background-color: #dda0dd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-alola {
  background-color: #e3c035;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-galar {
  background-color: #e94152;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-paldea {
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-legendaries {
  background-color: #5a9190;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.btn-shiny-others {
  background-color: #32cda1;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

button.btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* Style des tableaux */
.table {
  width: 100%; /* Prend toute la largeur disponible */
  margin: 0 auto; /* Centrer le tableau */
  border-radius: 10px;
  overflow: hidden;
}

/* Ajustement des colonnes */
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 15px; /* Augmente l'espace dans les cellules */
  white-space: nowrap; /* Empêche le texte de se couper et rend la colonne plus large si nécessaire */
}

/* Largeurs des colonnes ajustées */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 50%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 50%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 50%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 20%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 15%;
}

/* Optionnel : bordures arrondies pour un meilleur design */
.table {
  border-radius: 10px;
  overflow: hidden;
}

/* Ajouter un peu d'espace autour du tableau */
.table-wrapper {
  padding: 20px;
  overflow-x: auto;
}

.table th,
.table td {
  line-height: 1.5;
}

.d-flex {
  gap: 50px;
}
