.navbar {
  background-color: #008080;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
  color: #56e4be !important;
}

.navbar-brand {
  display: flex; /* Active Flexbox */
  align-items: center; /* Aligne verticalement les éléments */
  gap: 10px; /* Ajoute un espace entre l'image et le texte */
}

.logo-pokemon-navbar {
  height: 42px !important;
  width: auto !important;
  max-height: 42px;
}
